.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.25rem;
}

.form-error {
  text-align: center;
  color: #db2831;
  font-size: 0.75rem;
}

.form-button {
  cursor: pointer;
  background-color: var(--btn);
  padding: 1rem;
  border-radius: 0.25rem;
  color: var(--text);
  font-weight: 700;
}