* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-weight: 500;
}

:root {
  --bg: #0d0c22;
  --bg-soft: #2d2b42;
  --text: #fff;
  --text-soft: #e5e5e5;
  --btn: #3673fd;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg);
}

.main-container {
  width: 100vw;
  max-width: 1536px;
  min-height: 100vh;
  margin: auto;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}