.form-container {
  width: 100%;
  max-width: 400px;
  background-color: var(--bg-soft);
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.25rem;
}

.form-title {
  text-align: center;
  color: var(--text);
  font-size: 2rem;
  font-weight: 700;
}

.form-button {
  cursor: pointer;
  background-color: var(--btn);
  width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  color: var(--text-soft);
  font-weight: 700;
}

@media screen and (max-width: 450px) {
  .form-container {
    max-width: calc(100vw - 2rem);
  }
}